{% extends 'base.html.twig' %}

{% block title %}Accès Refusé{% endblock %}

{% block body %}
    {% set badgeClasses = {
        'ROLE_USER': 'badge-primary',
        'ROLE_VERIFIED': 'badge-success',
        'ROLE_ADMIN': 'badge-warning',
        'ROLE_MODERATOR': 'badge-secondary'
    } %}
    <div class="wrapper">
        <div class="card">
            <div class="card-header">
                <p class="card-title">Désolé  {{ app.user.username }}, vous n'avez pas l'autorisation d'accéder à cette page.</p>
                <p>Rôle(s) actuel(s) :</p>
               <div class="badge-container">
                    {% for role in app.user.roles %}
                        {% set badgeClass = badgeClasses[role] is defined ? badgeClasses[role] : 'badge-primary' %}
                        <span class="badge {{ badgeClass }}">
                            {% if role == 'ROLE_USER' %}
                                Rôle utilisateur
                            {% elseif role == 'ROLE_VERIFIED' %}
                                Compte vérifié
                            {% elseif role == 'ROLE_ADMIN' %}
                                Administrateur
                            {% elseif role == 'ROLE_MODERATOR' %}
                                Modérateur
                            {% else %}
                                {{ role }}
                            {% endif %}
                        </span>
                    {% endfor %}
                </div>
            </div>
            <div class="card-body">
                <div class="my-4">
                    <p class="text-muted">Contactez l'administrateur du site pour obtenir de l'aide.</p>
                </div>

                <div class="links-container">
                    <a href="{{ path('app_main') }}" class="btn-black"> 
                       Retour à l'accueil
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
