{% extends 'base.html.twig' %}

{% block title %}Symfony React{% endblock %}

{% block body %}
    <div {{ react_component('Welcome', {'message': 'Hello, Symfony with React!'}) }}></div>
{% endblock %}