.already-link {
    color: var(--blue);
    margin-bottom: 20px;
  }
  
  .links-container {
    display: flex;
    font-size: small;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }