 .title {
   color: var(--white);
   font-size: x-large;
 }

 .subtitle {
   color: var(--black);
   font-size: var(--subtile);
 }

 .text-muted {
   color: var(--muted-color);
 }
 .orbe{
  font-size: small;
  color: var(--white);
  text-align: center;
  margin: 30px;
 }