 .title {
   color: var(--white);
   font-size: var(--title);
   text-align: center;
 }

 .subtitle {
   color: var(--black);
   font-size: var(--subtile);
 }

 .text-muted {
   color: var(--muted-color);
 }